

<table border="1">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>
        <img [src]="book.imageUrl" height="50">
      </td>
      <td>
        {{book.name}}
      </td>
      <td>
        {{book.description}}
      </td>
      <td>
        {{book.unitPrice | currency:'EUR'}}
      </td>
    </tr>
  </tbody>
</table>

